.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    height: 100vh; /* Ajuste a altura conforme necessário */
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item {
    margin-bottom: 10px;
  }
  
  .menu-item a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .menu-item a:hover {
    background-color: #555;
  }
  
  .submenu {
    display: none;
    list-style-type: none;
    padding-left: 20px;
  }
  
  .menu-item.has-submenu:hover .submenu {
    display: block;
  }
  